@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessfulRegistrationTeacher</title>
</head>
<body>
    <div>
        <h1 style="position:fixed; top:350px; left: 650px">Registration for a Teacher<br />account was Successful!</h1>
        <div style="position:fixed; top:625px; left: 900px; font-size:x-large; font-weight:bold">
            <p><a href="/TeacherLogin/Login" class="btn btn-primary btn-lg">Login as a teacher</a></p>
        </div>
    </div>
</body>
</html>
