@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title white-space: pre>Dashboard</title>

    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
            background: #006fc4;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>

<body style="background-image: url(../images/onlineeduDashboardBlue.jpg); width: 100%; height: 100%; position: relative; z-index: -1; background-size:cover; background-color:skyblue">
    <div class="header">
        <div class="container">
            <div class="header-main">
                <div class="logo">
                    <h1 style="font-weight:bold"><a><span class="logo-clr">Teacher</span></a>Dashboard</h1><br /><br />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:800px; border:15px thin grey; padding:17px ">
            <div class="list-group">
                <div class="row-md-4 process-grid">
                    <a href="/Lectures/Index" class="list-group-item">
                        <h4 data-hover="Lectures">Lectures</h4>
                        <h2 class="glyphicon glyphicon-book fa-2x" aria-hidden="true"> </h2>
                        <br />
                    </a>
                </div>
                <div class="row-md-4 process-grid">
                    <a href="/Category/Index" class="list-group-item">
                        <h4 data-hover="Categories">Categories</h4>
                        <h2 class="glyphicon glyphicon-folder-open fa-2x" aria-hidden="true"> </h2>
                        <br />
                    </a>
                </div>
                <div class="row-md-4 process-grid">
                    <a href="/Question/Index" class="list-group-item">
                        <h4 data-hover="About">Questions</h4>
                        <h2 class="glyphicon glyphicon-list-alt" aria-hidden="true"></h2>
                        <br />
                    </a>
                </div>
                <div class="row-md-4 process-grid">
                    <a href="/QuizCategoryQuestion/Index" class="list-group-item">
                        <h4 data-hover="About">Modules</h4>
                        <h2 class="glyphicon glyphicon-th-list" aria-hidden="true"> </h2>
                        <br />
                    </a>
                </div>

                <div class="row-md-4 process-grid">
                    <a href="/Catalog/Index" class="list-group-item">
                        <h4 data-hover="About">Catalog</h4>
                        <h2 class="glyphicon glyphicon-ok" aria-hidden="true"></h2>
                        <br />
                    </a>
                </div>
                <div class="row-md-4 process-grid">
                    <a href="/Profile/Teacher" class="list-group-item">
                        <h4 data-hover="About">Profile</h4>
                        <h2 class="glyphicon glyphicon-user" aria-hidden="true"> </h2>
                        <br />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="height:750px; border:0px solid gray; overflow-y: auto;">

            @RenderBody()

        </div>
    </div>

</body>
</html>

