@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TeacherDashboardLayout.cshtml";
}

<br />
<h1 style="font-weight:bold">Lectures</h1><br />

<div class="col-md-9 ftr-email">
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file" style="font-size: 1em; font-weight: 400; color: #fff; padding: 0.6em 1.0em; width: 40%; background: #006fc4;  outline: none; display: inline-block; border: none; border-radius: 3px; -webkit-appearance: none; margin: 0em 0em 0em 3em;"><br />
        <br /><input type="submit" value="Upload file">
    </form>
</div>
