@model List<QuizWebApplication.Models.Module>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TeacherDashboardLayout.cshtml";
}

<br />
<h1 style="font-weight:bold">Modules</h1><br />

<table class="table">
        @foreach (var module in Model)
        {
        <tr style="background-color:#006fc4; color:#fff; font-weight:bold">
            <td>@module.Category.CategoryName</td>
        </tr>
        foreach (var question in module.Questions)
        {
            <tr style="background-color:#c7ebfc">
                <td style="padding-left:30px">@question.QuestionText</td>
            </tr>
        }

        foreach (var lecture in module.Lectures)
        {
            <tr style="background-color:#dcf2fc">                
                <td><a href="@lecture.Lecture">@lecture.Lecture</a></td>
            </tr>
        }
    }
</table>

