
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}

<h2>Login</h2>

<h1 style="position:fixed; top:200px; left: 800px; color:white">Login Form </h1>
<div class="w3ls-login box box--big" style="position:fixed; top: 370px; left: 670px">
    <!-- form starts here -->
    <form action="Verify" method="post" style="display:table">
        <div class="agile-field-txt" style="display: table-row">
            <label style="display: table-cell;"><i class="fa fa-user" aria-hidden="true"></i> Email </label>
            <input type="text" name="Email" placeholder="Enter Email" required="" style="display: table-cell;" />
        </div><hr />
        <div class="agile-field-txt" style="display: table-row">
            <label style="display: table-cell;"><i class="fa fa-unlock-alt" aria-hidden="true"></i> password </label>
            <input style="display: table-cell;" type="password" name="Password" placeholder="Enter Password" required="" id="myInput" />
            <div class="agile_label" style="display: table-cell">
                <input style="display: table-cell;" id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                <label class="check" for="check3">Show password</label>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </div><hr />
        <!-- script for show password -->
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
        <!-- //end script -->
        <input type="submit" value="LOGIN" class="btn btn-primary btn-lg"><br /><br />
            <a href="/UserRegistration/Index">No account? Register!</a>
    </form>
</div>


<div>
    @Html.ActionLink("Register as a student", "/StudentRegistration/Index")
</div>
